body{
	 background: linear-gradient(0deg,#d5dbe3 ,#ff9c9c);	
	 font-family: 'Poppins', sans-serif;
}

#chat{
	
	overflow-y: scroll;
	height: 500px;
	width: 400px;
	padding:10px;
	
}
#chat::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
#chat-box{
	background:#fc6a6a;
	border: none;
	float : center;
	margin:0.5%;
	margin-left:30%;	
	margin-right:30%;	
	border-radius:20px;
	padding:0px;
}

#chat-input{
	width:50%;
	height:5%;
	border :none;
	border-radius:20px;
}

#input-area{
	background:#ff9c9c;
	padding:0;
	padding:10px;
	border-radius:20px;
	font-family: 'Poppins', sans-serif;
}



#submit {
	
	color: black;
	border: 2px solid #555555;
  	background: #b0f78d;
	width:30%;
	height:5%;
	margin-bottom:1px;
	border :none;
	border-radius:20px;
	font-family: 'Poppins', sans-serif;
}

#submit:hover {
  background-color: #d8ffd6;
  color: black;
}

p{
	padding:10px;
	text-align:center;
}